@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
}

/* Hide horizontal scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 25s linear infinite;
}

.custom-pagination .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background: #d1d5db;
  opacity: 1;
  border-radius: 999px;
  transition: all 0.3s ease;
}

.custom-pagination .swiper-pagination-bullet-active {
  width: 24px;
  background: #facc15;
}

.swiper-wrapper {
  transition-timing-function: linear !important;
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background: #000000;
  /* 🔥 all dots black */
  opacity: 0.3;
  /* inactive fade */
  border-radius: 999px;
  transition: all 0.3s ease;
}

.swiper-pagination-bullet-active {
  width: 24px;
  opacity: 1;
  /* active full black */
  background: #000000;
}

.custom-pagination .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background: #000;
  opacity: 0.3;
  border-radius: 999px;
  transition: all 0.3s ease;
}

.custom-pagination .swiper-pagination-bullet-active {
  width: 26px;
  opacity: 1;
  background: #000;
}