@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Manrope', sans-serif;
}

/* Hide horizontal scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 25s linear infinite;
}

.swiper-wrapper {
  transition-timing-function: linear !important;
}

.swiper-pagination-bullet,
.custom-pagination .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background: #111827;
  opacity: 0.25;
  border-radius: 999px;
  transition: all 0.3s ease;
}

.dark .swiper-pagination-bullet,
.dark .custom-pagination .swiper-pagination-bullet {
  background: #ffffff;
}

.swiper-pagination-bullet-active,
.custom-pagination .swiper-pagination-bullet-active {
  width: 26px;
  opacity: 1;
  background: #F4B400;
}

.input {
  @apply w-full px-4 py-3 rounded-xl border border-gray-200 outline-none transition;
}

.input:focus {
  @apply border-primary ring-2 ring-primary/20;
}
